*.h5
.ipynb_checkpoints/
__pycache__/
/chapter-07-neural-nets/clothing-dataset-small/
/chapter-09-kubernetes/clothing-model/
/chapter-09-kubeflow/clothing-model/
*.tflite
*.csv
*.bentomodel
/course-zoomcamp/cohorts/2022/08-deep-learning/data/
*.h5
.env
/course-zoomcamp/10-kubernetes/code/clothing-model/
