[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
scikit-learn = "*"
flask = {extras = ["all"], version = "*"}
requests = "*"
gunicorn = {extras = ["standard"], version = "*"}
wget = "*"

[dev-packages]
awsebcli = "*"

[requires]
python_version = "3.9"
